_software/*/.git
_software/*/docs
_software/_*_repo
_software/metanorma-bipm/
_software/metanorma-generic/
_software/metanorma-iho/
_specs/*/
!_specs/*.*
parent-hub
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.DS_Store

.rubocop-https--*
.vscode/settings.json
Gemfile.lock