<section class="summary">
  <p>
    <strong>Delivering today's and tomorrow's standards</strong> with the
    <strong>award-winning, open-source, digital standards suite</strong> for
    authoring&nbsp;&amp;&nbsp;publishing.
  </p>
</section>

<section class="flavors switchable-flavors">
  <h2 class="title">Start <strong>writing standards with Metanorma</strong>:</h2>

  <div class="items">
    {% for fl in layout.flavors.bodies %}
      <a href="{{ fl.path | relative_url }}"
          {% if fl.experimental %}class="experimental"{% endif %}
          {% if fl.description %}title="{{ fl.description }}"{% endif %}>
        <article class="fl">
          <header>{{ fl.name }}</header>
        </article>
      </a>
    {% endfor %}
    {% for fl in layout.flavors.corporate %}
      <a href="{{ fl.path | relative_url }}"
          {% if fl.experimental %}class="experimental"{% endif %}
          {% if fl.description %}title="{{ fl.description }}"{% endif %}>
        <article class="fl">
          <header>{{ fl.name }}</header>
        </article>
      </a>
    {% endfor %}
  </div>
</section>

<section class="flavors">
  <h2 class="title">Customize and <strong>publish standards using Metanorma</strong>:</h2>

  <div class="items">
    <a class="sample" href="{{ "/develop/" | relative_url }}">
      <article class="flavor">
        <header>Create your flavor</header>
      </article>
    </a>
  </div>
</section>
