To check out Metanorma-{{ include.flavor.title }} capabilities,
take a look at {% if include.flavor.sample.title %}the _{{ include.flavor.sample.title }}_{% else %}a {% endif %}
sample Metanorma project
written in link:{{ include.markup_link }}[{{ include.flavor.markup_name }}].

Obtain sample source for the document(s)
{{ include.flavor.sample.repo_url }}[here]{% if include.flavor.sample.rendered_url %},
and see {{ include.flavor.sample.rendered_url }}[the rendered form here]{% endif %}.

You can use the sample as a starting point
for authoring your own {{ include.flavor.title }} documents with Metanorma.
Refer to the {{ include.flavor.sample.repo_url }}[repository]
for an overview of how the source is structured.
