To check out Metanorma-{{ include.flavour.title }} capabilities,
take a look at {% if include.flavour.sample.title %}the _{{ include.flavour.sample.title }}_{% else %}a {% endif %}
sample Metanorma project
written in link:{{ include.markup_link }}[{{ include.flavour.markup_name }}].

Obtain sample source for the document(s)
{{ include.flavour.sample.repo_url }}[here]{% if include.flavour.sample.rendered_url %},
and see {{ include.flavour.sample.rendered_url }}[the rendered form here]{% endif %}.

You can use the sample as a starting point
for authoring your own {{ include.flavour.title }} documents with Metanorma.
Refer to the {{ include.flavour.sample.repo_url }}[README]
for an overview of how the source is structured.
