{% assign contact_link = "mailto:" | append: site.contact_email %}

<div class="search-widget">
  <input type="search" id="siteSearchInput" placeholder="Type to search…">
</div>

{% include nav-page-link.html url="/author/" title="Authoring docs" active_for_nested=true %}

{% include nav-page-link.html url="/flavors/" title="Flavors" active_for_nested=true %}

{% if site.num_all_specs > 0 %}
  {% include nav-page-link.html url="/specs/" title="Specs" active_for_nested=true %}
{% endif %}

{% include project-nav.html %}

{% include nav-page-link.html url="/blog/" title="Blog" active_for_nested=true %}

<a href="javascript: void 0;" class="search" aria-label="site search button"><i class="fas fa-search"></i></a>
