{% assign contact_link = "mailto:" | append: site.contact_email %}

<div class="search-widget">
  <input type="search" id="siteSearchInput" placeholder="Type to search…">
</div>

{% include nav-page-link.html htmlclass="installation" url="/installation/" title="Install" active_for_nested=true %}

<!-- {% include nav-page-link.html htmlclass="tutorial" url="/tutorials/" title="Tutorials" active_for_nested=true %}  -->

{% include nav-page-link.html htmlclass="author" url="/author/" title="Author" active_for_nested=true %}

<!-- {% include nav-page-link.html htmlclass="docs" url="/docs/" title="Docs" active_for_nested=true %} -->

{% include nav-page-link.html htmlclass="flavors" url="/flavors/" title="Flavors" active_for_nested=true %}

<!-- {% include nav-page-link.html htmlclass="software" url="/software/" title="Software" active_for_nested=true %}

{% include nav-page-link.html htmlclass="specs" url="/specs/" title="Specs" active_for_nested=true %}

{% include nav-page-link.html htmlclass="contribute" url="/contribute/" title="Contribute" active_for_nested=true %} -->

{% include nav-page-link.html htmlclass="builder" url="/builder/" title="Build" active_for_nested=true %}

<!--{% include project-nav.html %} file is empty-->

{% include nav-page-link.html htmlclass="blog" url="/blog/" title="Blog" active_for_nested=true %}

<a href="javascript: void 0;" class="search" aria-label="site search button"
	><i class="fas fa-search"></i
></a>
