{% assign contact_link = "mailto:" | append: site.contact_email %}

{% if site.algolia_search %}
	<div class="search-widget">
  		<input type="search" id="siteSearchInput" placeholder="Type to search…">
	</div>
{% endif %}

{% include nav-page-link.html htmlclass="install" url="/install/" title="Install" active_for_nested=true %}

{% include nav-page-link.html htmlclass="learn" url="/learn/" title="Learn" active_for_nested=true %}

{% include nav-page-link.html htmlclass="author" url="/author/" title="Author" active_for_nested=true %}

{% include nav-page-link.html htmlclass="flavors" url="/flavors/" title="Flavors" active_for_nested=true %}

{% include nav-page-link.html htmlclass="develop" url="/develop/" title="Develop" active_for_nested=true %}

<!-- {% include nav-page-link.html htmlclass="software" url="/software/" title="Software" active_for_nested=true %} -->

<!-- {% include nav-page-link.html htmlclass="specs" url="/specs/" title="Specs" active_for_nested=true %} -->

<!-- {% include nav-page-link.html htmlclass="contribute" url="/contribute/" title="Contribute" active_for_nested=true %} -->

<!-- {% include project-nav.html %} -->

{% include nav-page-link.html htmlclass="blog" url="/blog/" title="Blog" active_for_nested=true %}

{% if site.algolia_search %}
	<a href="javascript: void 0;" class="search" aria-label="site search button"
		><i class="fas fa-search"></i
	></a>
{% endif %}
