---
layout: docs-base
html-class: docs-page
docs_title: Author's documentation

navigation:
  base_url: /author
  items:

  - title: Get started
    path: /getting-started/

  - title: Using Metanorma
    items:
    - title: The Metanorma approach
      description: The Metanorma approach to authoring
      path: /approach/
    - title: Writing AsciiDoc
      path: /topics/writing-asciidoc/

  - title: Concepts
    description: How Metanorma works and best practices
    items:
      - title: What is Metanorma?
        path: /concepts/what_is_metanorma/
      - title: What you see is what you mean
        path: /concepts/wysiwyg_vs_wysiwym/
      - title: The Metanorma workflow
        path: /concepts/metanorma_workflow/
      - title: Introduction to AsciiDoc
        path: /concepts/intro_to_asciidoc/
      - title: Best practices
        path: /concepts/best_practice_project_structure/
      - title: Auto-numbering in Metanorma
        path: /concepts/auto_numbering/
      - title: Automatic reference lookup using Relaton
        path: /concepts/automatic-reference-lookup/
      - title: Deep dive into cross-references
        path: /concepts/deep-dive-cross-references/


  - title: New Metanorma document
    description: Creating a new Metanorma Document
    path: /topics/creating_new_document/

  - title: Editing Metanorma documents
    description: Metanorma's general authoring guidance
    items:
    - title: Adding Metadata
      path: /topics/metadata/

    - title: Sections
      path: /topics/sections/
      items:
      - title: Prefatory content
        path: /topics/sections/prefatory/
      - title: Concepts, terms and definitions
        path: /topics/sections/concepts/
      - title: Entering concepts
        path: /topics/sections/entering-terms/
      - title: Symbols and abbreviations
        path: /topics/sections/symbols_abbrev/
      - title: Bibliography
        path: /topics/sections/bibliography/
      - title: Entering bibliographic items
        path: /topics/sections/entering-bib/
      - title: Annexes
        path: /topics/sections/annexes/
      - title: TOC
        path: /topics/sections/toc/
      - title: Misc container
        path: /topics/sections/misc-container/

    - title: Blocks
      path: /topics/blocks/
      items:
      - title: Admonitions
        path: /topics/blocks/admonitions/
      - title: Annotations
        path: /topics/blocks/annotations/
      - title: Diagrams
        path: /topics/blocks/diagrams/
      - title: Examples
        path: /topics/blocks/examples/
      - title: Figures
        path: /topics/blocks/figures/
      - title: Forms
        path: /topics/blocks/forms/
      - title: Images
        path: /topics/blocks/images/
      - title: Indexing and TOC
        path: /topics/blocks/indexes/
      - title: Lists
        path: /topics/blocks/lists/
      - title: Math expressions
        path: /topics/blocks/math/
      - title: Passthroughs
        path: /topics/blocks/passthroughs/
      - title: Psuedocode
        path: /topics/blocks/pseudocode/
      - title: Quotes
        path: /topics/blocks/quotes/
      - title: Requirement, Recommendation, and Permission
        path: /topics/blocks/requirements/
        items:
        - title: Metanorma MRR model
          path: /topics/blocks/requirements-mrr/
        - title: OGC ModSpec model
          path: /topics/blocks/requirements-modspec/
      - title: Source code
        path: /topics/blocks/source/
      - title: Tables
        path: /topics/blocks/tables/

    - title: Document formatting
      path: /topics/document-format/
      items:
      - title: Page flow
        path: /topics/document-format/page-flow/
      - title: Cross-references
        path: /topics/document-format/xrefs/

    - title: Inline markup
      path: /topics/inline_markup/
      items:
      - title: Changes
        path: /topics/inline_markup/changes/
      - title: Footnotes
        path: /topics/inline_markup/footnotes/
      - title: Index Terms
        path: /topics/inline_markup/index_terms/
      - title: Links and Cross-references
        path: /topics/inline_markup/links/
      - title: Semantic elements
        path: /topics/inline_markup/semantic-elements/
      - title: Text formatting
        path: /topics/inline_markup/text_formatting/

    - title: Languages and ocalization
      path: /topics/languages/

    - title: Collections
      path: /topics/collections/

    - title: Automation
      path: /topics/automation/
      items:
      - title: "LutaML for UML plugin"
        path: /topics/automation/lutaml_uml/
      - title: "Datamodel plugin"
        path: /topics/automation/datamodel/
      - title: Yaml2Text plugin
        path: /topics/automation/yaml_to_text/
      - title: Json2Text plugin
        path: /topics/automation/json_to_text/
      - title: Automatically extracting information from Metanorma
        path: /topics/automation/extraction_from_mn/

    - title: Building documents
      path: /topics/building/

    - title: Reviewing Documents
      path: /topics/reviewing/

    - title: Generating Output
      path: /topics/output/
      items:
        - title: Font management
          path: /topics/output/font-management/
        - title: Output formats
          path: /topics/output/output-formats/
        - title: Validation
          path: /topics/output/validation/

    - title: References
      items:
      - title: Document attributes
        path: /ref/document-attributes/
      - title: AsciiDoc cheat sheet
        path: /ref/asciidoc-tips/
      - title: AsciiMath support
        path: /ref/asciimath/
      - title: Clause and block-level attributes
        path: /ref/section_block_attributes/

---

{{ content }}
