---
layout: docs-base
html-class: docs-page
docs_title: Builder's documentation

navigation:
  base_url: /builder
  items:

  - title: Get started
    path: /

  - title: Topics
    items:
    - title: Simple adoption
      path: /topics/simple-adoption/
    - title: Adopting StanDoc XML
      path: /topics/adopting-spec/
    - title: Adopting the Metanorma toolchain
      path: /topics/adopting-toolchain/
    - title: Localization
      path: /topics/localization/
    - title: Using Metanorma XML without input
      path: /topics/replacing-asciidoc/
    - title: Styling HTML output
      path: /topics/styling-output-html/
    - title: Styling Microsoft Word output
      path: /topics/styling-output-msword/
    - title: Metadata and predefined text
      path: /topics/metadata-and-boilerplate

  - title: References
    items:
    - title: HTML output format
      path: /ref/html/
    - title: About Microsoft Word HTML
      path: /ref/ms-word-html/

---

{{ content }}
