---
layout: docs-base
html-class: docs-page
docs_title: Builder’s documentation

navigation:
  base_url: /builder
  items:

  - title: Get started
    path: /

  - title: Topics
    items:
    - title: Localization
      path: /topics/localization/
    - title: Microsoft Word output
      path: /topics/ms-word-output/

  - title: References
    items:
    - title: HTML output format
      path: /ref/html/

  - title: “How-to” guides
    items:
      - { title: How to adopt StanDoc in your own specs, path: /howto/adopting-spec/ }
      - { title: How to use StanDoc toolchain for your specs, path: /howto/adopting-toolchain/ }
      - { title: How to style HTML output, path: /howto/styling-output-html/ }
      - { title: How to style MS Word output, path: /howto/styling-output-msword/ }
      - { title: How to localize the output, path: /howto/localizing-output/ }
      - { title: How to bypass AsciiDoc, path: /howto/replacing-asciidoc/ }

---

{{ content }}
