---
layout: docs-base
html-class: docs-page
docs_title: Metanorma

navigation:
  base_url: /docs
  items:

  - title: Get started
    path: /getting-started/
    items:
    - title: Installation
      path: /getting-started/#installing-the-metanorma-toolchain

  - title: Authoring
    description: Metanorma’s general authoring guidance not specific to any flavour in particular
    path: /authoring-guidance/
    items:
    - title: Validation
      path: /authoring-guidance/validation/
    - title: Output in different languages
      path: /authoring-guidance/languages/
    - title: Document header
      path: /authoring-guidance/meta-header/
    - title: Text markup
      path: /authoring-guidance/markup/
    - title: Asciidoctor tips
      path: /authoring-guidance/asciidoctor-tips/

  - title: Advanced Usage
    items:
      - title: Output formats
        path: /output-formats/
        items:
        - title: HTML output
          path: /output-formats/html/
      - title: Customization
        path: /customization/


  - title: Background
    items:
      - title: Approach
        description: Metanorma document model and Asciidoctor markup
        path: /approach/

---

{{ content }}
