---
layout: docs-base
html-class: docs-page
docs_title: Metanorma

navigation:
  items:

  - title: Overview
    path: /

  - title: Getting started
    path: /
    items:
    - title: Installation
      path: /getting-started/

  - title: Authoring guidance
    description: Metanorma’s general authoring guidance not specific to any flavour in particular
    path: /authoring-guidance/
    items:
    - title: Validation
      path: /authoring-guidance/validation/
    - title: Output in different languages
      path: /authoring-guidance/languages/
    - title: Document header
      path: /authoring-guidance/validation/

    - title: Text markup
      path: /authoring-guidance/markup/
      items:
      - title: Sections
        path: /authoring-guidance/markup/sections/
      - title: Lists
        path: /authoring-guidance/markup/lists/
      - title: Tables
        path: /authoring-guidance/markup/tables/
      - title: Figures
        path: /authoring-guidance/markup/figures/
      - title: Notes
        path: /authoring-guidance/markup/tables/
      - title: Formulae & Mathematics
        path: /authoring-guidance/markup/formulae-mathematics/
      - title: Footnotes
        path: /authoring-guidance/markup/footnotes/
      - title: Bibliographies
        path: /authoring-guidance/markup/bibliographies/
      - title: Cross-references
        path: /authoring-guidance/markup/bibliographies/
      - title: Reviewer Notes
        path: /authoring-guidance/markup/reviewer-notes/

    - title: Asciidoctor tips
      path: /authoring-guidance/asciidoctor-tips/
---

{{ content }}
