---
layout: docs-base
html-class: docs-page

# flavour_title: ISO
# asciidoctor_flavor: AsciiISO
# cli_flags: "--type iso -x html,doc,xml"

sample_document_name: my-document-title.adoc
sample_document_ext: adoc

navigation:
  items:
  - title: Quickstart
    path: /
    items:
    - title: Sample document
      path: /sample/
  - title: ISO-specific markup
    path: /markup/
---

{{ content }}

<template id="modeSelector">
  <div class="mode-selector">
    {% for mode in layout.modes %}
      <button
        data-selects-mode="{{ mode.title }}"
        class="{% if forloop.index == 0 %}selected{% endif %}"
        >{{ mode.title }}</button>
    {% endfor %}
  </div>
</template>

<script src="{{ "/assets/installation-mode-widget.js" | relative_url }}"></script>
