---
layout: default

flavors:
  bodies:
    - name: ISO
      path: /author/iso/
    - name: IEC
      path: /author/iec/
    - name: ITU
      path: /author/itu/
    - name: IETF
      path: /author/ietf/
    - name: CalConnect
      path: /author/cc/
    - name: OGC
      description: Open Geospatial Consortium
      path: /author/ogc/
    - name: CSA
      description: Cloud Security Alliance
      path: /author/csa/
    - name: UN
      path: /author/un/

    - name: BIPM
      description: BIPM standards
      path: /author/bipm/
    - name: IHO
      description: IHO standards
      path: /author/iho/
    - name: GB
      description: Guobiao standards
      path: /author/gb/
      experimental: yes
    - name: M<sup>3</sup>AAWG
      description: Messaging, Malware and Mobile Anti-Abuse Working Group
      path: /author/m3aawg/
      experimental: yes

  corporate:
    - name: MPFA
      description: Mandatory Provident Fund Authority of Hong Kong
      path: /author/mpfa/
      experimental: yes
    - name: Ribose
      path: /author/ribose/
---

{% include home-project.html %}
<!-- Not in repo? Is this obsolete? -->

<script src="https://unpkg.com/react@^16/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@^16/umd/react-dom.production.min.js"></script>

<!--

<div class="web-build-ui hidden">
  <section class="main-section">
    <h2 class="title">Try it</h2>
    <div class="contents">
    </div>
  </section>
</div>

<script>
  (function () {
    var webBuildUi = document.querySelector('.web-build-ui');

    var initWebBuildUpload = function () {
      webBuildUi.classList.remove('hidden');
    };

    var initWebBuildPopup = function () {
      var ctaContainer = document.querySelector('.hero .cta');

      if (ctaContainer != null && webBuildUi != null) {
        webBuildUi.classList.add('conditional');

        function addCtaButton (btn) {
          if (btn.label) {
            var newBtnEl = document.createElement('a');

            newBtnEl.innerHTML = btn.label;
            newBtnEl.classList.add('button');
            if (btn.hint) {
              newBtnEl.setAttribute('title', btn.hint);
            }

            ctaContainer.append(newBtnEl);
            return newBtnEl;
          } else {
            return null;
          }
        }

        function toggleWebUi () {
          webBuildUi.classList.toggle('shown');
        }

        var btnEl = addCtaButton({
          label: 'Try it',
          hint: 'Upload your Metanorma markup and get rendered document.',
        });

        if (btnEl) {
          // Ensure it behaves like a link without side-effects
          btnEl.setAttribute('href', 'javascript: void 0');

          // Make it trigger the Web-based build UI
          btnEl.addEventListener('click', toggleWebUi);
        }
      }
    }

    initWebBuildUpload();

  }());
</script>
-->
