---
layout: default
---

<section>
  <h2 class="title">Meet Metanorma</h2>

  <p>
    Metanorma is a framework for writing & publishing standards documents
    with a focus on semantic authoring and flexible output support.
  </p>

  <p>
    With Metanorma, you can quickly develop tools for standard processing
    that would conform to the existing norms in your organization.
  </p>

  <p>
    In the ecosystem of Metanorma-based processos there already exit tools allowing anyone
    to create compliant ISO, RFC, CalConnect, and some other documents.
  </p>
</section>

{% include home-project.html %}

<!--

<div class="web-build-ui hidden">
  <section class="main-section">
    <h2 class="title">Try it</h2>
    <div class="contents">
    </div>
  </section>
</div>

<script>
  (function () {
    var webBuildUi = document.querySelector('.web-build-ui');

    var initWebBuildUpload = function () {
      webBuildUi.classList.remove('hidden');
    };

    var initWebBuildPopup = function () {
      var ctaContainer = document.querySelector('.hero .cta');

      if (ctaContainer != null && webBuildUi != null) {
        webBuildUi.classList.add('conditional');

        function addCtaButton (btn) {
          if (btn.label) {
            var newBtnEl = document.createElement('a');

            newBtnEl.innerHTML = btn.label;
            newBtnEl.classList.add('button');
            if (btn.hint) {
              newBtnEl.setAttribute('title', btn.hint);
            }

            ctaContainer.append(newBtnEl);
            return newBtnEl;
          } else {
            return null;
          }
        }

        function toggleWebUi () {
          webBuildUi.classList.toggle('shown');
        }

        var btnEl = addCtaButton({
          label: 'Try it',
          hint: 'Upload your Metanorma markup and get rendered document.',
        });

        if (btnEl) {
          // Ensure it behaves like a link without side-effects
          btnEl.setAttribute('href', 'javascript: void 0');

          // Make it trigger the Web-based build UI
          btnEl.addEventListener('click', toggleWebUi);
        }
      }
    }

    initWebBuildUpload();

  }());
</script>
-->
