---
layout: default

flavours:

  bodies:
  - name: ISO
    path: /author/iso/
  - name: IETF
    path: /author/ietf/
  - name: 国标
    path: /author/gb/
  - name: UNECE
    path: /author/unece/
  - name: M<sup>3</sup>AAWG
    path: /author/m3d/
  - name: CalConnect
    path: /author/csd/

  corporate:
  - name: MPFA
    path: /author/mpfd/
  - name: Ribose
    path: /author/rsd/
---

<div class="underlay summary-background">
  <section class="flavors switchable-flavours">
    <h2 class="title">Author standards with Metanorma</h2>

    <section data-mode="standards-bodies">
      <h3>Standards bodies</h3>
      <div class="items">
        {% for fl in layout.flavours.bodies %}
          <a href="{{ fl.path | relative_url }}">
            <article class="fl">
              <header>{{ fl.name }}</header>
            </article>
          </a>
        {% endfor %}
      </div>
    </section>

    <section data-mode="corporate">
      <h3>Enterprises</h3>
      <div class="items">
        {% for fl in layout.flavours.corporate %}
          <a href="{{ fl.path | relative_url }}">
            <article class="fl">
              <header>{{ fl.name }}</header>
            </article>
          </a>
        {% endfor %}
      </div>
    </section>
  </section>

  <section class="flavors">
    <h2 class="title">Create document management workflow for your organization</h2>

    <div class="items">
      <a class="sample" href="{{ "/builder/" | relative_url }}">
        <article class="flavor">
          <header>Get started</header>
        </article>
      </a>
    </div>
  </section>

  <section class="summary">
    <p>
      <strong>Meet Metanorma:</strong> an open-source framework for writing & publishing standards documents
      with a focus on semantic authoring and flexible output support.
    </p>

    <p>
      Here’s what you can do with Metanorma:
    </p>

    <ul class="you-can">
      <li>
        Build tools for authoring standards
        and formatting them in accordance with your organization’s practices.
      <li>
        Use the existing processor ecosystem to create documents
        compliant to the requirements of ISO, IETF, CalConnect, and others.
    </ul>

    <p class="learn-more">
      <a href="{{ "/docs/" | relative_url }}">
        Learn more about Metanorma!
      </a>
    </p>
  </section>
</div>

{% include home-project.html %}

<script src="https://unpkg.com/react@^16/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@^16/umd/react-dom.production.min.js"></script>
<script src="{{ "/assets/home-flavour-switcher.js" | relative_url }}"></script>

<!--

<div class="web-build-ui hidden">
  <section class="main-section">
    <h2 class="title">Try it</h2>
    <div class="contents">
    </div>
  </section>
</div>

<script>
  (function () {
    var webBuildUi = document.querySelector('.web-build-ui');

    var initWebBuildUpload = function () {
      webBuildUi.classList.remove('hidden');
    };

    var initWebBuildPopup = function () {
      var ctaContainer = document.querySelector('.hero .cta');

      if (ctaContainer != null && webBuildUi != null) {
        webBuildUi.classList.add('conditional');

        function addCtaButton (btn) {
          if (btn.label) {
            var newBtnEl = document.createElement('a');

            newBtnEl.innerHTML = btn.label;
            newBtnEl.classList.add('button');
            if (btn.hint) {
              newBtnEl.setAttribute('title', btn.hint);
            }

            ctaContainer.append(newBtnEl);
            return newBtnEl;
          } else {
            return null;
          }
        }

        function toggleWebUi () {
          webBuildUi.classList.toggle('shown');
        }

        var btnEl = addCtaButton({
          label: 'Try it',
          hint: 'Upload your Metanorma markup and get rendered document.',
        });

        if (btnEl) {
          // Ensure it behaves like a link without side-effects
          btnEl.setAttribute('href', 'javascript: void 0');

          // Make it trigger the Web-based build UI
          btnEl.addEventListener('click', toggleWebUi);
        }
      }
    }

    initWebBuildUpload();

  }());
</script>
-->
