---
layout: docs-base
html-class: docs-page
docs_title: Introduction to Metanorma tutorial

navigation:
  base_url: /tutorial
  items:
    - title: Lesson 1: Introduction to Metanorma
      path: /lessons/lesson-1/
      items:
        - title: What is Metanorma?
          path: /lessons/lesson-1-1/
        - title: The Metanorma workflow
          path: /lessons/lesson-1-2/
        - title: Summary of lesson 1
          path: /lessons/lesson-1-3/

    - title: Lesson 2: Editing a Metanorma document
      path: /lessons/lesson-2/
      items:
        - title: Assigning metadata in the document header
          path: /lessons/lesson-2-1/
        - title: Sections
          path: /lessons/lesson-2-2/
        - title: Blocks
          path: /lessons/lesson-2-3/
          items:
            - title: Lists
              path: /lessons/lesson-2-3-1/
            - title: Term definitions
              path: /lessons/lesson-2-3-2/
            - title: Tables
              path: /lessons/lesson-2-3-3/
            - title: Images
              path: /lessons/lesson-2-3-4/
            - title: Admonitions
              path: /lessons/lesson-2-3-5/
            - title: Code samples
              path: /lessons/lesson-2-3-6/
        - title: Inline markup
          path: /lessons/lesson-2-4/
          items:
          - title: Text markup
            path: /lessons/lesson-2-4-1/
          - title: Index terms
            path: /lessons/lesson-2-4-2/
          - title: References
            path: /lessons/lesson-2-4-3/
        - title: Summary of lesson 2
          path: /lessons/lesson-2-5/

    - title: Lesson 3: Reviewing Metanorma documents
      path: /lessons/lesson-3/
      items:
        - title: Adding Comments
          path: /lessons/lesson-3-1/
        - title: Rendering a draft document
          path: /lessons/lesson-3-2/

    - title: Lesson 4: Publishing a Metanorma document
      path: /lessons/lesson-4/
      items:
        - title: Compiling a Metanorma document
          path: /lessons/lesson-4-1/
        - title: Troubleshooting Metanorma documents
          path: /lessons/lesson-4-2/
        - title: Summary of lesson 4
          path: /lessons/lesson-4-3/
---

<!-- Based on page.html; Adjustments needed?? -->
<section class="main-article {{ page.section-class }}">
	<header>
		<h2 class="title">{{ page.section-title }}</h2>
	</header>

	<div class="body">{{ content }}</div>
</section>
