---
layout: tutorial

navigation:
  base_url: /tutorials
  items:
    - title: Get started
      path: /

    - title: Topics
      items:
        - title: Simple adoption
          path: /tutorials/template/
        - title: Adopting StanDoc XML
          path: /tutorials/template/
        - title: Adopting the Metanorma toolchain

     - title: Topics
      items:
        - title: Simple adoption
          path: /tutorials/template/
        - title: Adopting StanDoc XML
          path: /tutorials/template/
        - title: Adopting the Metanorma toolchain
---

<!-- Based on page.html; Adjustments needed. -->
<section class="main-article {{ page.section-class }}">
	<header>
		<h2 class="title">{{ page.section-title }}</h2>
	</header>

	<div class="body">{{ content }}</div>
</section>
