---
layout: docs-base
html-class: docs-page
docs_title: Introduction to Metanorma tutorial

navigation:
  base_url: /tutorial
  items:
    - title: Introduction to Metanorma
      path: /lessons/lesson-1/
      items:
        - title: What is Metanorma?
          path: /lessons/lesson-1-1/
        - title:
          path: /lessons/lesson-1-2/
        - title:
          path: /lessons/lesson-1-3/

    - title: Editing a Metanorma document
      items:
        - title:
          path: /lessons/template/
        - title:
          path: /lessons/template/
        - title:
          path: /lessons/template/
        - title:
          path: /lessons/template/
        - title:
          path: /lessons/template/
        - title:
          path: /lessons/template/

    - title: Reviewing Metanorma documents
      items:
        - title:
          path: /lessons/template/
        - title:
          path: /lessons/template/

    - title: Publishing a Metanorma document
      items:
        - title:
          path: /lessons/template/
        - title:
          path: /lessons/template/
        - title:
          path: /lessons/template/
      - title:
          path: /lessons/template/
---

<!-- Based on page.html; Adjustments needed?? -->
<section class="main-article {{ page.section-class }}">
	<header>
		<h2 class="title">{{ page.section-title }}</h2>
	</header>

	<div class="body">{{ content }}</div>
</section>
