name: deploy

on:
  push:
    branches:
    - main
    - staging
  repository_dispatch:

jobs:
  set_environment:
    outputs:
      my_env: ${{ steps.setenv.outputs.my_env }}
      my_url: ${{ steps.setenv.outputs.my_url }}
    runs-on: ubuntu-latest
    steps:
    - id: setenv
      run: |
        if [ "$GITHUB_REF" = "refs/heads/main" ]
        then
          echo "::set-output name=my_env::production"
          echo "::set-output name=my_url::https://www.metanorma.org"
        elif [ "$GITHUB_REF" = "refs/heads/staging" ]
        then
          echo "::set-output name=my_env::staging"
          echo "::set-output name=my_url::https://staging-www.metanorma.org"
        fi

  build_deploy:
    name: Build and deploy to ${{ needs.set_environment.outputs.my_env }}
    runs-on: ubuntu-latest
    needs: [set_environment]
    environment:
      name: ${{ needs.set_environment.outputs.my_env }}
      url: ${{ needs.set_environment.outputs.my_url }}
    steps:
    - name: Setup prerequisites
      run: |
        sudo apt-get update
        sudo apt-get install -y curl make libxml2-dev libxslt-dev openssl
    - name: Setup snaps
      run: |
        sudo snap install aws-cli --classic
    - uses: actions/checkout@v2
    - name: Use Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.7'
        bundler-cache: true
    - name: Build site
      run: |
        make _site

    - name: Deploy to AWS
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_REGION: ${{ secrets.AWS_REGION }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
        S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
      run: |
        aws s3 sync _site s3://$S3_BUCKET_NAME --region=$AWS_REGION --delete --no-progress --exclude "*" --include "*.html" --content-type "text/html; charset=utf-8"
        aws s3 sync _site s3://$S3_BUCKET_NAME --region=$AWS_REGION --delete --no-progress --exclude "*" --include "*.json" --content-type "text/json; charset=utf-8"
        aws s3 sync _site s3://$S3_BUCKET_NAME --region=$AWS_REGION --delete --no-progress --exclude "*.html,*.json" --include "*"
        aws cloudfront create-invalidation --distribution-id $CLOUDFRONT_DISTRIBUTION_ID --paths "/*"
